{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
    <meta name="twitter:title" content="{{ SITENAME }} ~ {{ article.title|striptags }}">
    <meta name="twitter:description" content="{{ article.summary|striptags|escape }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }} ~ {{ article.title|striptags }}"/>
    <meta property="og:description" content="{{ article.summary|striptags|escape }}"/>
    <meta property="og:image" content=""/>
{% endblock head %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
    <section id="content">
        <article>
            <h2 class="post_title post_detail"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                                  title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            <div class="entry-content blog-post">
                {{ article.content }}
            </div>
            <span class="post_date">{{ article.locale_date }}</span>
        </article>
    </section>
{% endblock %}
