<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
        <meta charset="utf-8">
        <!-- Site Meta Data -->
        <title>{% block title %} {{ SITENAME }} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ SITE_DESCRIPTION }}">
        <meta name="author" content="{{ AUTHOR }}">

        <link rel="shortcut icon" href="{{ FAVICON }}">

        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css"/>
        <script src="{{ SITEURL }}/theme/js/collapse.js"></script>
        <script src="{{ SITEURL }}/theme/js/sort.js"></script>

        <!-- Feed Meta Data -->
        {% if FEED_ALL_ATOM %}
            <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
                  title="{{ SITENAME }} ATOM Feed"/>
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate"
                  title="{{ SITENAME }} RSS Feed"/>
        {% endif %}
    {% endblock %}
</head>

<body>
<!-- Sidebar -->
<aside>
    {% if AVATAR %}
      <center><a href="{{ SITEURL }}"><img id="avatar" src="{{ AVATAR }}"></a></center>
    {% endif %}

    <h1>{{ SITENAME }}</h1>
    {{ SITE_DESCRIPTION }}

    <nav class="nav">
        <ul class="list-bare">
            <li><a class="nav__link menu_header" href="{{ SITEURL }}/category/doc.html">Docs</a></li>
            <ul>
            {% for cat, art in categories %}
                {% if cat == "doc" %}
                    {% for ar in art | sort(attribute="order") %}
                    <li><a class="subnav__link{% if article and article.url == ar.url %} selected{% endif %}"  href="{{SITEURL}}/{{ar.url}}">{{ar.title}}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
            <li><a class="nav__link menu_header" href="{{ SITEURL }}/index.html#routes">Routes</a></li>
            <ul>
            {% for cat, art in categories %}
                {% if cat == "route" %}
                    {% for article in art | sort(attribute="name") %}
                        <li><a class="subnav__link" href="{{SITEURL}}/index.html#{{article.slug}}">{{article.title}}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
            <li><a class="nav__link menu_header" href="{{SITEURL}}/index.html#objects">Objects</a></li>
            <ul>
            {% for cat, art in categories %}
                {% if cat == "object" %}
                    {% for article in art | sort(attribute="title") %}
                        <li><a class="subnav__link" href="{{SITEURL}}/index.html#{{article.slug}}">{{article.title}}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
        </ul>
    </nav>
    {% include "general.html" %}
</aside>

<!-- Content -->
<article>
    {% block content %}
    {% endblock %}
</article>

<!-- Footer -->
{% if DISPLAY_FOOTER or DISPLAY_FOOTER is not defined %}
    <footer>
        <small>
            Original Theme <a href="https://github.com/parbhat/pelican-blue">Pelican-Blue</a> by <a
                     href="https://parbhatpuri.com/">@parbhat</a>, modified by <a href="https://snaums.de">@snaums</a>.
            Generated on {{ TIMEOFDAY }} using <a href="https://getpelican.com">Pelican</a>.
        </small>
    </footer>
{% endif %}

</body>
</html>
