{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}/{{ category.url }}">
    <meta name="twitter:title" content="{{ SITENAME }} ~ {{ category }}">
    <meta name="twitter:description" content="Articles in {{ category }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }} ~ {{ category }}"/>
    <meta property="og:description" content="Articles de {{ category }}"/>
    <meta property="og:image" content="{{ AVATAR }}"/>
{% endblock head %}
{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}
{% block heading %}
{% endblock %}
{% block content %}
    {% if category == "doc" %}
    <section id="content">
        <article>
    <h1>{{ SITENAME }}</h1>
    {% include "general.html" %}

    <h2 class="latest">Documentation</h2>

    <p>These articles seek to provide documentation on how to use mvoCI as a user, how to set-up and configure mvoCI as admin and how to develop for, or contribute to mvoCI as a developer. If you find any errors or find something unclear, please send a Pull Request to <a href="https://codeberg.org/snaums/mvoCI" title="mvoCI on codeberg">mvoCI</a></p>

    <ul>
    {% for art in articles|sort(attribute="order") %}
        <li><a href="{{SITEURL}}/{{art.url}}" title="{{art.title}}">{{ art.title }}</a></li>
    {% endfor %}
    </ul>
        </article>
    </section>
    {% endif %}
{% endblock content %}
