{{ SITE_DESCRIPTION }}
<dl>
    <dt>Author</dt><dd>{{ AUTHOR }}</dd>
    <dt>E-mail</dt><dd>{{ AUTHOR_EMAIL }}</dd>
    <dt>URL</dt><dd><a href="{{ CONTACT_URL }}" target="_blank" title="Project URL">{{ CONTACT_URL }}</a></dd>
    <dt>LICENSE</dt><dd><a href="{{ LICENSE_URL }}" target="_blank" title="{{LICENSE}} URL">{{ LICENSE }}</a></dd>
    <dt>API-Version</dt><dd>{{ VERSION }}</dd>
    <dt>Base Path</dt><dd>{{ BASE_PATH }}</dd>
    <dt>Swagger.json</dt><dd><a href="/swagger.json">Link</a></dd>
    <dt>Swagger.yaml</dt><dd><a href="/swagger.yaml">Link</a></dd>
</dl>
