{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{{ SIDEBAR_DIGEST }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ SIDEBAR_DIGEST }}"/>
    <meta property="og:image" content=""/>
{% endblock head %}
{% block content_title %}{% endblock %}
{% block content %}
    <section id="content">
        <article>
    <h1>{{ SITENAME }}</h1>
    {% include "general.html" %}

    {% for cat, art in categories %}
        {% if cat == "route" %}
            <h2 class="menu_header" id="routes">Routes</h2>
            <div class="swagger-tags">
            {% set methods = ["ALL"] %}
            {% for article in art %}
                {% set methods = methods.append(article.method|upper) %}
            {% endfor %}
            {% for method in methods | unique | sort %}
                <span class="swagger-tag swagger-tag-{{method|lower}}"><a href="javascript:filterByMethod('{{ method }}');">{{ method }}</a></span>
            {% endfor %}
            </div>
            {% for article in art | sort(attribute="name") %}
                {% include "route.html" %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% for cat, art in categories %}
        {% if cat == "object" %}
            <h2 class="menu_header" id="objects">Objects</h2>
            {% for article in art | sort(attribute="title") %}
                {% include "object.html" %}
            {% endfor %}
        {% endif %}
    {% endfor %}
        </article>
    </section>
{% endblock content %}
