{% macro resolveObject( categories, ref ) %}
    {% set needle = ref.split("/")[2] %}
    {% for cat, art in categories %}
        {% if cat == "object" %}
            {% for article in art | sort(attribute="title") %}
                {% if article.title == needle %}
                    <a class="object_resolve" href="#{{ article.slug }}">{{ article.title }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endmacro %}
