{% import "macro.jinja" as macro %}
<div class="swagger-object">
    <div class="swagger-object-title">
        <a href="javascript:void(0);" class="swagger-object-link">
            <span class="swagger-object-object">Object</span>
            <h3 id="{{article.slug}}">{{ article.title }}</h3>
        </a>
    </div>
    <div class="swagger-object-details hidden">
      {{ article.content }}

      <h4>Properties</h4>

      {% for p in article.properties %}
        {% set pi = article.properties[p] %}
        {% if loop.first %}
            <table><tr><th>Name</th><th>Type</th><th>Description</th></tr>
        {% endif %}

        <tr>
        <td>{{ p }}</td>
        {% if "type" in pi and "$ref" not in pi %}
            {% if pi["type"] == "array" %}
                {% if "$ref" in pi["items"] %}
                    <td>array[{{ macro.resolveObject(categories,pi["items"]["$ref"]) }}]</td>
                {% elif "type" in pi["items"] %}
                    <td>array[ {{ pi["items"]["type"] }} ]</td>
                {% endif %}
            {% else %}
                <td>{{ pi["type"] }}</td>
            {% endif %}
            <td>{{ pi["description"] if "description" in pi else "" }}</td>
        {% elif "$ref" in pi %}
            <td>{{ macro.resolveObject(categories,pi["$ref"]) }}</td>
            <td></td>
        {% else %}
            <td></td>
            <td></td>
        {% endif %}
        </tr>

        {% if loop.last %}
            </table>
        {% endif %}
      {% endfor %}
    </div>
</div>
