{% import "macro.jinja" as macro %}
<div class="swagger-route swagger-route-{{article.method}}">
  <div class="swagger-route-title">
    <a href="javascript:void(0);" class="swagger-route-link">
      <span class="swagger-route-method">{{ article.method | upper }}</span>
      <h3 id="{{article.slug}}">{{article.title}}</h3>
    </a>
    <small class="swagger-route-summary">{{ article.summary }}</small>
    {% if article.deprecated is defined and article.deprecated == True %}
      <span class="swagger-route-deprecated">DEPRECATED</span>
    {% endif %}
  </div>
  <div class="swagger-route-details hidden">
      {{ article.content }}

  <div class="swagger-tags">
  {% for t in article.tags %}
    <span class="swagger-tag"><a href="/tag/{{ t.slug }}.html">{{t}}</a></span>
  {% endfor %}
  </div>

  <h4>Parameters</h4>
    {% set strings = [ "name", "type", "description", "in", "required" ] %}
    {% for p in article.parameters %}
        {% if loop.first %}
            <table><tr><th>Name</th><th>Type</th><th>Description</th><th>Located in</th><th>Required</th></tr>
        {% endif %}

        <tr>
        {% for s in strings %}
          {% if s in p %}
            <td>{{ p[s] }}</td>
          {% else %}
            {% if s == "required" %}
                <td>False</td>
            {% else %}
                <td></td>
            {% endif %}
          {% endif %}
        {% endfor %}
        </tr>

        {% if loop.last %}
            </table>
        {% endif %}
    {% else %}
        This call does not take any parameters.
    {% endfor %}

  <h4>Responses</h4>
    <ul>
    {% for r in article.responses %}
      {% set v = article.responses[r] %}
      <li><font class="bold">{{r}}</font> -- {{v["description"]}} -- <i>returns
        {% if "$ref" in v["schema"] %}
            {{ macro.resolveObject ( categories, v["schema"]["$ref"] ) }}
        {% elif "type" in v["schema"] %}
            {% if v["schema"]["type"] == "array" %}
                {% if "$ref" in v["schema"]["items"] %}
                    <td>array[{{ macro.resolveObject(categories, v["schema"]["items"]["$ref"]) }}]</td>
                {% else %}
                    <td>array[ TODO ]</td>
                {% endif %}
            {% else %}
                {{ v["schema"]["type"] }}
            {% endif %}
        {% endif %}
          </i></li>
    {% endfor %}
    </ul>

  {% if article.consumes is defined %}
  <h4>Consumes</h4>
  <ul>
    {% for c in article.consumes %}
      <li>{{c}}</li>
    {% endfor%}
  </ul>
  {% endif %}

  {% if article.produces is defined %}
  <h4>Produces</h4>
  <ul>
    {% for p in article.produces %}
      <li>{{p}}</li>
    {% endfor%}
  </ul>
  {% endif %}
  </div>
</div>
