{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{{ SIDEBAR_DIGEST }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ SIDEBAR_DIGEST }}"/>
    <meta property="og:image" content=""/>
{% endblock head %}
{% block content_title %}{% endblock %}
{% block content %}
    <h1>Tag: {{ tag }}</h1>

    {% for article in articles %}
        {% if article.category == "route" %}
            {% if loop.first %}
                <h2 id="routes">Routes</h2>
            {% endif %}
            {% include "route.html" %}
        {% endif %}
    {% endfor %}

    {% for article in articles %}
        {% if article.category == "Objects" %}
            {% if loop.first %}
                <h2 id="objects">Objects</h2>
            {% endif %}
            {% include "object.html" %}
        {% endif %}
    {% endfor %}
{% endblock content %}
