html { 
  font-family: 'Open Sans', 'helvetica', sans-serif;
  background: white;
  font-size: 14px;
}

/* Titles */
h2 { text-transform: uppercase }
h1, h2 { 
	font-weight: bold; 
  margin-top: 10px;
  margin-bottom: 10px;
}

article h1 {
    font-size: 24px;
}

#routes,#objects {
    margin: 40px 0px 20px 0px;
}

.title
{
  font-size: 2.5em;
  margin-bottom: 50px;
  text-transform: none;
  color: black;
  line-height: 1;
  font-weight: 600;
}

.latest
{-
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.post_detail
{
  font-size: 2em;
  line-height: 1em;
}

.entry-content
{
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: justify;
  color: #333;
}

article section .about
{
  font-size: 18px;
  color: #444;
  text-align: justify;
}

article section .blog-post
{
  font-size: 16px;
}

/* Body */
body {margin: 0}
body > article, footer {
  line-height: 1.6em;
  display: block;
  margin: 30px auto auto 305px;
  padding-right: 10px;
}

footer {
    text-align: center;
}

article > section > article {
    max-width: 900px;
    margin: 0 auto;
}

article ol.posts
{
  padding-left: 0;
}

/* Articles */
p.post_entry {  
}
article > header {
  list-style-type: none;
  padding: 0px 10px;
  box-shadow: 0 0 0 2px #1DAEDF;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}
.article_left > h1 {
  font-size: 20px;
}
.article_right {
  background-color: white;
}
.post_list {
  list-style-type: none;
  padding: 10px 10px;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}


/* Links */;
a {
    color:#1DAEDF;
    text-decoration:none;
}
a:visited {
    color:#1DAEDF;
    text-decoration:none;
}
a:link {
    color:#1DAEDF;
    text-decoration:none;
}
a:active {
    color:#1DAEDF;
    text-decoration:none;
}
a, a:visited, a:link, a:active {
    color:#1DAEDF;
    text-decoration:none;
}
a:hover { text-decoration: underline; }

/* Code */
.highlight pre {
  font-size: 14px;
  overflow: auto;
  padding: 8px;
}

aside dl {
    text-align: left;
    word-break: break-word;
    padding-bottom: 30px;
}

dl dt {
    font-weight: bold;
}

aside dl a {
    color: #ffffff!important;
}

/* Sidebar */
aside {
  font-size: 14px;
  width: 220px; height: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 15px 30px 50px 30px;
  background-color: #2980b9;
  color: white;
  background-size: cover;
  overflow-y: auto;
  border-right: 3px solid transparent;
}

aside > ul {
  list-style-type: none;
  padding: 0px 10px;
  margin-top: 0px;
}
aside > h2 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}

#avatar {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 10px 20px 0;
  box-shadow: 0px 0px 5px 3px #1DAEDF;
  -webkit-transition: 200ms;
     -moz-transition: 200ms;
      -ms-transition: 200ms;
       -o-transition: 200ms;
          transition: 200ms;
}

#avatar:hover {
  box-shadow: 0px 0px 5px 3px white;
}

.social
{
  display: inline-block;
  margin-top: 40px;
}

.nav
{
  display: block;
  margin: 40px -30px;
}

.nav > ul > li
{
  font-size: 15px;
}

.nav a
{
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.nav a:hover
{
    background-color: #328cc7;
}

.nav .selected {
    background-color: #328cc7;
    color: #df7e08;
}

.list-bare, .list-bare ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link:first-child{
  border-top: 1px solid #328cc7;
}

.nav__link, .subnav__link {
  display: block;
  border-bottom: 1px solid #328cc7;
}

.nav__link {
  padding: 10px 15px;
  font-weight: 700;
}
.subnav__link {
  padding: 10px 45px;
}

.bold {
    font-weight: bold;
}

.swagger-tags {
    margin-top: 15px;
}

.swagger-tag {
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #2980b9;
}

.swagger-tag a {
    color: white;
    text-decoration: none;
}

.swagger-route, .swagger-object {
    padding: 0;
    margin: 10px 0;
    border-radius: 5px;
}
.swagger-route-method, .swagger-object-object{
    padding: 6px 0;
    display: inline-block;
    width: 80px;
    text-align: center;
    color: white;
    margin-right: 10px;
}

.swagger-route-details, .swagger-object-details {
    margin: 10px;
}

.hidden {
    display: none;
}

table {
    border-color: grey;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 30px;
    width: 100%;
}

th,td {
    padding: 4px 10px;
    border: 1px solid #dbdbdb;
}

tr:nth-child(odd) {
    background: #f1f1f1;
}

.swagger-route-summary {
    color: #303030;
    display: block;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px; /* TODO responsive */
    margin: 6px 10px 0px 30px;
}

.swagger-route h3, .swagger-object h3 {
    display: inline-block;
    color: black;
    margin: 0px;
    text-decoration: none;
}
.swagger-route-deprecated {
    position:relative;
    right: 5px;
    float: right;
    font-weight: bold;
    font-size: small;
    border-radius: 3px;
    background-color: #c0392b;
    color: white;
    margin-top: 5px;
}

.swagger-object {
    border: 1px solid #272828;
}
.swagger-object .swagger-object-title {
    background: #bdbdbd;
}
.swagger-object .swagger-object-object {
    background: #272828;
}

.swagger-route-get {
    border: 1px solid #6BBD5B;
}
.swagger-route-get .swagger-route-title {
    background: #cde9c8;
}
.swagger-route-get h3 {
    color: #3f7f33;
}
.swagger-route-get .swagger-route-method, .swagger-route-get .swagger-tag, .swagger-tag-get {
    background: #6BBD5B;
}

.swagger-route-post{
    border: 1px solid #248FB2;
}
.swagger-route-post .swagger-route-title {
    background: #88d0e7;
}
.swagger-route-patch h3 {
    color: #134b5d;
}
.swagger-route-post .swagger-route-method, .swagger-route-post .swagger-tag, .swagger-tag-post {
    background: #248FB2;
}

.swagger-route-put{
    border: 1px solid #9b708b;
}
.swagger-route-put .swagger-route-title {
    background: #dacad4;
}
.swagger-route-put h3 {
    color: #614456;
}
.swagger-route-put .swagger-route-method, .swagger-route-put .swagger-tag, .swagger-tag-put {
    background: #9b708b;
}

.swagger-route-delete{
    border: 1px solid #e27a7a;
}
.swagger-route-delete .swagger-route-title {
    background: #fdf8f8;
}
.swagger-route-delete h3 {
    color: #ca2c2c;
}
.swagger-route-delete .swagger-route-method, .swagger-route-delete .swagger-tag, .swagger-tag-delete {
    background: #e27a7a;
}



.swagger-route-patch {
    border: 1px solid #D88541;
}
.swagger-route-patch .swagger-route-title {
    background: #f2d7c0;
}
.swagger-route-patch h3 {
    color: #95541e;
}
.swagger-route-patch .swagger-route-method, .swagger-route-patch .swagger-tag, .swagger-tag-patch {
    background: #D88541;
}

/*--------Responsive------------*/

@media (prefers-color-scheme: dark) {
    html {
        background: #0c1215;
        color: #fff;
    }
    .entry-content {
        color: #fff;
    }
}

@media (max-width: 800px) {

  aside {
    left: 0;
    max-width: none;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    padding-top: 1px;
  }

  .nav
  {
    margin-left: 0;
    margin-right: 0;
  }

  .nav > ul > ul > li {
    display: none;
  }

  body > article {
    margin: 0 auto;
    padding-top: 5px;
    padding: 1em;
  }

  footer
  {
    padding: 1em;
    margin-left: 1em;
    margin-top: 0;
  }

  #avatar {
    height: 50px;
    width: 50px;
    margin: 10px auto;
  }
}

img {
  max-width: 100%;
}
